/* DEFAULT COLOR = #b61924 (RED) */

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', serif;
    font-size:20px;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


.intro-section {
  height:100%;
     display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.about-section {
    height: 100%;
    text-align: center;
    background: #eee;
   justify-content:center;
    align-items: center;
  }


.services-section {

    height: 100%;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    text-align: center;
    background: #eee;
}

.last-page-section {
    height: 100%;
    text-align: center;
    background: #fff;
}
.margin-top{
    margin-top:20px;
}
#particles-js{
    width:100%;
    height:100%;
    position:absolute;
}

.intro-section a{
   position:relative;
    z-index:50;
}

/* -- hover effects in buttons --*/
.snip1221:after {
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 50%;
  right: 50%;
  background: #b61924;
  content: '';
}
.snip1221:before,
.snip1221:after {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.snip1221:hover,
.snip1221:active,
.snip1221.hover {
  color: #b61924;
}

.snip1221:hover:after,
.snip1221:active:after,
.snip1221.hover:after {
  left: 0;
  right: 0;
}
/* FOR BUTTONS in every section*/
.intro-section a{
  transition: 0.5s;
}
.intro-section a:hover{
  background:#b61924;
  transition:0.5s;
}
.intro-section a:hover{
  color:white;
}

#unslider a{
  transition:0.5s;
}
#unslider a:hover{
  transition:0.5s;
  color:white;
  background-color:#b61924;
}




.video-landing a{
  background:white;
  transition: 0.5s;
}
.video-landing a:hover{
  background-color: #b61924;
  transition:0.5s;
}
.video-landing a:hover{
  color:white;
}

/* FOR VIDEOS */

.video-landing {
  height: 900px;
  position: relative;
  color: white;
  overflow:hidden;
}

.video-landing video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
}

.video-landing h1{
  font-size: 3em; 
  position:relative;
  top:50%;
  text-align: center;
}

.center-text-in-video{
  font-size: 2em;
  text-align: center;
  margin-top:400px;
}

/* BANNER */
#sect-banner{
  height:100%;
  position: relative;
  overflow-y: hidden;
}


/* FOOTER */

.footer-first {
    background-color: #222;
    color:white;
    padding-bottom: 10px;
    text-align: center;
}

.footer-first a{
  color:grey;
  transition: 0.25s;
}
.footer-first a:hover{
  color:white;
  text-decoration: none;
  transition: 0.25s;
}


/* SECOND FOOTER --- background-color:#a271ec; */

.footer-second {
    background-color:#a271ec;
    color:white;
    padding-bottom: 10px;
    text-align: center;
}

.footer-second  a{
  color:black;
  transition:0.25s;
}
.footer-second span{
  color:black;
}
.footer-second  a:hover{
  color:white;
  text-decoration: none;
  transition: 0.25s;
}

.footer-second i{
  font-size:20px;
  color:white;
  transition: 0.25s;
}

.footer-second i:hover{
  color:grey;
  text-decoration: none;
  transition: 0.25s;
}


.icon-style{
  list-style: inline;
}
.icon-style a i{
  padding-right:20px;
}


/* Third Footer */
.third-footer{
    background-color: #222;
    padding-bottom: 10px;
    text-align: center;
}
.number-third{
  margin-top:30px;
  color:grey;
  font-size:20px;
  text-align: center;
}
.third-footer button{
  background:none;
  border-color:grey;
  transition: 0.5s;
}
.third-footer button:hover{
  background-color:none;
  border-color:white;
  transition: 0.5s;
}
.email-link{
  color:#8db4c3;
  transition: 0.5s;
}
.email-link:hover{
  color:white;
  transition: 0.5s;
}

.third-footer a i{
  background-color: black;
  border:5px solid black;
  font-size:20px;
  border-radius: 5px;
  color:#ADD8E6;
  transition: 0.25s;
}
.third-footer a i:hover{
  color:white;
  border:5px solid #00FFFF;
  background-color: #00FFFF;
  transition: 0.25s;
}
.third-footer .links-bottom a{
  transition: 0.25s;

}
.third-footer .links-bottom a:hover{
  transition: 0.25s;
  color:#8db4c3;
  text-decoration: none;
}

.third-footer .col-md-9 a{
  transition: 0.25s;
}
.third-footer .col-md-9 a:hover{
  color:blue;
  transition: 0.25s;
  text-decoration: none;
}



/* For Employees */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0067 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}

figure.snip0067 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.snip0067 img {
  max-width: 100%;
  position: relative;
  display: block;
}

figure.snip0067:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 90%;
  z-index: 1;
  left: -20%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: skewX(-30deg) translateX(-80%);
  transform: skewX(-30deg) translateX(-80%);
  -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}

figure.snip0067 figcaption {
  padding-left: 30px;
  position: absolute;
  left: 0;
  top: 25%;
  width: 60%;
  z-index: 1;
  opacity: 0;
}

figure.snip0067 figcaption h2,
figure.snip0067 figcaption p {
  margin: 0;
  text-align: left;
  padding: 5px 0 0;
  width: 100%;
}

figure.snip0067 figcaption h2 {
  font-size: 1.4em;
  font-weight: 300;
  text-transform: uppercase;
}

figure.snip0067 figcaption h2 span {
  font-weight: 800;
}

figure.snip0067 figcaption p {
  font-weight: 500;
  font-size: 0.9em;
  opacity: 0.8;
}

figure.snip0067 figcaption .icons {
  width: 100%;
  padding: 8px 0;
}

figure.snip0067 figcaption .icons i {
  display: inline-block;
  font-size: 20px;
  background: #000000;
  color: #ffffff;
  margin-right: 5px;
  opacity: 0;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
}

figure.snip0067 figcaption a {
  opacity: 0.7;
}

figure.snip0067 figcaption a:hover {
  opacity: 1;
}

figure.snip0067 .position {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-weight: 500;
  color: #ffffff;
  background: #000000;
}

figure.snip0067.blue .icons i {
  background: #164666;
}

figure.snip0067.blue .position {
  background: #20638f;
}

figure.snip0067.red .icons i {
  background: #6d2018;
}

figure.snip0067.red .position {
  background: #962d22;
}

figure.snip0067.yellow .icons i {
  background: #924d10;
}

figure.snip0067.yellow .position {
  background: #bf6516;
}

figure.snip0067.green .icons i {
  background: #145b32;
}

figure.snip0067.green .position {
  background: #1e8449;
}

figure.snip0067:hover figcaption,
figure.snip0067.hover figcaption,
figure.snip0067:hover .icons i,
figure.snip0067.hover .icons i {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip0067:hover:before,
figure.snip0067.hover:before {
  -webkit-transform: skewX(-30deg) translateX(0px);
  transform: skewX(-30deg) translateX(0px);
}